<section
    style="max-width:40rem;margin:2rem auto;border:1px solid #ddd;background-color:#efefef;display:flex;flex-direction:column;padding:2rem;">
    <h2>{{user.name}}</h2>
    <div style="display: flex;justify-content: space-evenly;align-items: center;">
        <ul style="list-style:none;">
            <li><strong>Height:</strong> {{user.height}}</li>
            <li><strong>Weight:</strong> {{user.mass}}</li>
            <li><strong>BirthYear:</strong> {{user.birth_year}}</li>
        </ul>
        <ul style="list-style:none;">
            <li><strong>Hair:</strong> {{user.hair_color}}</li>
            <li><strong>Eye:</strong> {{user.eye_color}}</li>
            <li><strong>Skin:</strong> {{user.skin_color}}</li>
        </ul>
    </div>
</section>